version: '3.8'
services:
    api:
      depends_on:
        db:
          condition: service_healthy
        cache:
          condition: service_healthy
      environment:
        DATABASE_HOSTNAME: db
        DATABASE_PORT: 5432
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DATABASE_NAME: postgres
        DATABASE_USERNAME: postgres  
        DB_URL: ${DB_URL}
        POSTGRESQL_TEST_DATABASE_URI: ${POSTGRESQL_TEST_DATABASE_URI}
        POSTGRESQL_ADMIN_DATABASE_URI: ${POSTGRESQL_ADMIN_DATABASE_URI}
        SECRET_KEY: ${SECRET_KEY}
        ALGORITHM: HS256
        ACCESS_TOKEN_EXPIRE_MINUTES: 30
        OPEN_API_KEY: ${OPEN_API_KEY}
      ports:
        - "8000:80"
      build: .
      healthcheck:
        test: ["CMD", "curl", "-I", "http://localhost:8000"]
        timeout: 20s
        retries: 10

    db:
      image: postgres:13
      environment:
        POSTGRES_USER: ${DATABASE_USERNAME}
        POSTGRES_DB: ${DATABASE_NAME}
        POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      volumes:
        - db_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD", "pg_isready", "-U", "postgres", "-h", "localhost"]
        timeout: 20s
        retries: 10
    
    cache:
      image: redis:8.4.0
      restart: always
      ports:
        - '6379:6379'
      command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
      volumes:
        - cache:/data
      healthcheck:
        test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]

    #nginx:
    #  image: nginx:1.29.4-alpine
    #  depends_on:
    #    - api
    #  volumes:
    #    - ./default.conf:/etc/nginx/conf.d/default.conf
    #  ports:
    #    - '8080:80'

volumes:
  db_data:
    driver: local
  cache:
    driver: local
