'''services:
  api:
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_HOSTNAME: db
    build: .
    healthcheck:
      test: ["CMD", "curl", "-I", "http://localhost:8000"]
      timeout: 20s
      retries: 10
    #ports:
    #  - "8000:8000"

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-h", "localhost"]
      timeout: 20s
      retries: 10
  nginx:
    depends_on:
      api:
        condition: service_healthy
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
volumes:
  db_data:'''